<html>
    <!--引入jQuery包用于使用ajax-->
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>



    <table style="border: 1px #000000 solid">
        <tbody>
            <tr>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C11" name="C11"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C12" name="C12"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C13" name="C13"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C14" name="C14"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C15" name="C15"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C16" name="C16"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C17" name="C17"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C18" name="C18"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C19" name="C19"></td>
            </tr>
            <tr>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C21" name="C21"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C22" name="C22"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C23" name="C23"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C24" name="C24"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C25" name="C25"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C26" name="C26"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C27" name="C27"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C28" name="C28"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C29" name="C29"></td>
            </tr>
            <tr>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C31" name="C31"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C32" name="C32"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C33" name="C33"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C34" name="C34"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C35" name="C35"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C36" name="C36"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C37" name="C37"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C38" name="C38"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C39" name="C39"></td>
            </tr>
            <tr>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C41" name="C41"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C42" name="C42"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C43" name="C43"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C44" name="C44"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C45" name="C45"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C46" name="C46"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C47" name="C47"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C48" name="C48"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C49" name="C49"></td>
            </tr>
            <tr>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C51" name="C51"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C52" name="C52"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C53" name="C53"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C54" name="C54"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C55" name="C55"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C56" name="C56"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C57" name="C57"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C58" name="C58"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C59" name="C59"></td>
            </tr>
            <tr>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C61" name="C61"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C62" name="C62"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C63" name="C63"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C64" name="C64"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C65" name="C65"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C66" name="C66"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C67" name="C67"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C68" name="C68"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C69" name="C69"></td>
            </tr>
            <tr>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C71" name="C71"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C72" name="C72"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C73" name="C73"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C74" name="C74"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C75" name="C75"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C76" name="C76"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C77" name="C77"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C78" name="C78"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C79" name="C79"></td>
            </tr>
            <tr>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C81" name="C81"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C82" name="C82"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C83" name="C83"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C84" name="C84"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C85" name="C85"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C86" name="C86"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C87" name="C87"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C88" name="C88"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C89" name="C89"></td>
            </tr>
            <tr>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C91" name="C91"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C92" name="C92"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C93" name="C93"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C94" name="C94"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C95" name="C95"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C96" name="C96"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C97" name="C97"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C98" name="C98"></td>
                <td style="border: 1px #000000 solid"><input type ="text" size="1" id="C99" name="C99"></td>
            </tr>
        </tbody>
    </table>

    <!--创建button按钮，点击则激发submit()事件-->
    <button onclick="submit();">Solve</button>
    <script>
        /*在这里编写submit()事件*/
        function submit() {
            $.ajax({
                url: "submit", /*数据提交到submit处*/
                type: "POST",  /*采用POST方法提交*/
                data: { 
                "C11": $("#C11").val(),"C12":$("#C12").val(),"C13":$("#C13").val(),"C14":$("#C14").val(),"C15":$("#C15").val(),"C16":$("#C16").val(),"C17":$("#C17").val(),"C18":$("#C18").val(),"C19":$("#C19").val(),
                "C21": $("#C21").val(),"C22":$("#C22").val(),"C23":$("#C23").val(),"C24":$("#C24").val(),"C25":$("#C25").val(),"C26":$("#C26").val(),"C27":$("#C27").val(),"C28":$("#C28").val(),"C29":$("#C29").val(),
                "C31": $("#C31").val(),"C32":$("#C32").val(),"C33":$("#C33").val(),"C34":$("#C34").val(),"C35":$("#C35").val(),"C36":$("#C36").val(),"C37":$("#C37").val(),"C38":$("#C38").val(),"C39":$("#C39").val(),
                "C41": $("#C41").val(),"C42":$("#C42").val(),"C43":$("#C43").val(),"C44":$("#C44").val(),"C45":$("#C45").val(),"C46":$("#C46").val(),"C47":$("#C47").val(),"C48":$("#C48").val(),"C49":$("#C49").val(),
                "C51": $("#C51").val(),"C52":$("#C52").val(),"C53":$("#C53").val(),"C54":$("#C54").val(),"C55":$("#C55").val(),"C56":$("#C56").val(),"C57":$("#C57").val(),"C58":$("#C58").val(),"C59":$("#C59").val(),
                "C61": $("#C61").val(),"C62":$("#C62").val(),"C63":$("#C63").val(),"C64":$("#C64").val(),"C65":$("#C65").val(),"C66":$("#C66").val(),"C67":$("#C67").val(),"C68":$("#C68").val(),"C69":$("#C69").val(),
                "C71": $("#C71").val(),"C72":$("#C72").val(),"C73":$("#C73").val(),"C74":$("#C74").val(),"C75":$("#C75").val(),"C76":$("#C76").val(),"C77":$("#C77").val(),"C78":$("#C78").val(),"C79":$("#C79").val(),
                "C81": $("#C81").val(),"C82":$("#C82").val(),"C83":$("#C83").val(),"C84":$("#C84").val(),"C85":$("#C85").val(),"C86":$("#C86").val(),"C87":$("#C87").val(),"C88":$("#C88").val(),"C89":$("#C89").val(),
                "C91": $("#C91").val(),"C92":$("#C92").val(),"C93":$("#C93").val(),"C94":$("#C94").val(),"C95":$("#C95").val(),"C96":$("#C96").val(),"C97":$("#C97").val(),"C98":$("#C98").val(),"C99":$("#C99").val()},  /*提交的数据（json格式），从输入框中获取*/
                /*result为后端函数返回的json*/
                success: function (result) {
                    for (var val in result.message) {
                        document.getElementById(val).value= result.message[val];
                    }
        
                }
            });
        }
        

    </script>
</html>